@charset "UTF-8";
@import "scss";
@import "vecdev_styles.scss";


//Подключаем REM
html{
  font-size: 9px;
  @include media-breakpoint-up(md){
    font-size: 8px;
  }
  @include media-breakpoint-up(lg){
    font-size: 9px;
  }
  @include media-breakpoint-up(xl){
    font-size: 10px;
  }
}


// ОСНОВНЫЕ СТИЛИ
* { margin: 0; padding: 0; }
body {  font-size: 1.4rem !important;  color: #222222;  }
//a{ color: $green1; &:hover {color: $green2;text-decoration: none;}}
h1,h2,h3,h4,h5,h6{  margin: 0;  }
ul{  margin-bottom: 0!important;  }

.mobile{
  display: block;
  @include media-breakpoint-up(md) {
    display: none;
  }
}
.desktop{
  display: none;
  @include media-breakpoint-up(md) {
    display: block;
  }
}


//HEADER
.header{
  background: $red1 ;
  padding: 10px 0;

  //лого в header
  .logo{
    display: block;
    margin: 5px 0;
    line-height: 1;
    height: 7rem;
    width: 100%;
    background: url("/static/img/rosgvard_logo_white.png") no-repeat;
    background-size: contain;
    background-position: center;
    @include media-breakpoint-up(md) {
      background-position: left;
    }
    span{
      font-size: 2.5rem;
      font-weight: 700;
      text-transform: uppercase;
    }
  }

  //ЗАГОЛОВОК в header
  .h__title{
    margin: 0;
    h1{
    color: #fff;
    font-size: 4rem;
    font-weight: 500;
    }
  }
  .h__descr{
    color: $gray-400;
    font-size: 2rem;

  }
}

.main-menu{
    background: $red2;

  ul{
    list-style: none;
    li{
      display: inline-block;
      padding: 0 15px;
      &:hover{
        background: $red1;
      }
      a{
        display: block;
        padding: 10px 0;
        color: #fff;
        &:hover{
          text-decoration: none;
        }
      }
    }
  }
}
.content{
  padding: 30px 0;
}