@import "scss";
//КНОПКИ САЙТА
.vecdev-btn{
  outline: none;
  border: none;
  border-radius: 5px;
  padding: .7em 1.6em;
  margin: 0 auto;
  font-size: 1.5rem !important;
  font-family: inherit !important;
  transition:  all .2s ease;
  -webkit-transition:  all .2s ease;
  -moz--transition: all .2s ease;
  text-transform: uppercase !important;
  cursor: pointer;
}
.white-btn{
  background: #fff;
  color: #222;
  &:hover{
    background: #dc1f1d;
    color: #fff;
  }
}
.m-catalog-btn{
  position: relative;
  display: block;
  width: 100%;
  padding: 15px;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  //background-color: $green2;
  color: #fff;
  letter-spacing: .1rem;
  &:hover{
    color: #fff;
  }
  &:before,&:after {
     content: " ";
     position: absolute;
     top: 0;
     width: 50px;
     height: 100%;
     //background: url(/images/icons/arrow_white_down.svg) no-repeat;
     background-size: 20px;
     background-position: center;
   }
  &:after {
    right: 50px;
  }
  &:before {
    left: 50px;
  }
}
.catalog-menu{
  width: 100%;
}
//CALLBACK FORM
.vecdev-cb{
  display: none;

  .vecdev-cbform{
    position: fixed; top: 50%; left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 30px;
    width: 90%;
    z-index: 200;

    @include media-breakpoint-up(md){
      width: 400px;
    }
  }
  .vecdev-cbform__bg{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);;
    z-index: 100;
  }
  .vecdev-cb__title{
    font-size: 2rem;
    text-align: center;
    padding-bottom: 15px;
  }
}
.vecdev-input{
  display: inline-block;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.24);
  width: 100%;
  height: 4rem;
  padding: 1em 2em 1em 1em;
  font-size: 1.4rem;
  color: #eee;
  vertical-align: middle;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  &::placeholder{
    color: #fff;
  }
}
.vecdev-text{
  display: inline-block;
  width: 100%;
  padding: 1em 2em 1em 1em;
  border: 1px solid #d9d9d9;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.24);
  outline: none;
  color: #eee;
  background: transparent;
  border-radius: 5px;
  &::placeholder{
    color: #fff;
  }
}
.vecdev-close{
  position: absolute;
  width: 20px;
  height: 20px;
  top: 2rem;
  right: 2rem;
  cursor: pointer;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);

  &:before{
    width: 2px;
    height: 18px;
    left: 8px;
    top: 0;
  }
  &:after{
    height: 2px;
    width: 18px;
    top: 8px;
    left: 0;
  }
  &:before, &:after{
    content: "";
    //background: $red1;
    position: absolute;
  }
}
/*.vecdev-input--orange{
  border: 1px solid $orange;
  box-shadow: 2px 2px 4px rgba(255, 86, 74, 0.2);
  &::placeholder{
    color: $orange2;
  }
}*/
.mb-form{
  .form-group{
    text-align: center;
  }
  .vecdev-btn{
    -webkit-border-radius: 10rem;
    -moz-border-radius: 10rem;
    border-radius: 10rem;
  }
  .vecdev-input{
    max-width: 250px;
    text-align: center;
    -webkit-border-radius: 10rem;
    -moz-border-radius: 10rem;
    border-radius: 10rem;
  }
}
.main-feedback{
  //background: $green1;
  padding: 30px 0;
  color: #fff;
  @include media-breakpoint-up(md){
    margin: 0;
    margin-top: 30px;
  }
  .mf__descr{
    padding-top: 30px;
  }
  .vecdev-input, textarea{
    background: #fff;
    //color: $green2;
    &::placeholder{
      //color: $green2;
    }
  }
}
.main-feedback__title{
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  font-size: 2rem;
  letter-spacing: 1.5px;
  border-bottom: 1px solid #eee;
  padding-bottom: 5px;
  font-weight: 300;
}
.mf__descr{
  text-transform: none;
  color: #eee;
  font-size: 1.4rem;
  border: none;
  a{
    //color: $red2;
    &:hover{
     // color: $red1;
    }
  }
}
.main-feedback__form{
  padding-top: 15px;
}
.list_check{
  list-style: none;
  .list_check-item{
    //background: url(/images/icons/check_green.svg) no-repeat left top;
    background-position-y: .7rem;
    background-size: 1.8rem;
    margin: 5px 0;
    padding: 3px 0;
    padding-left: 30px;
  }
}
.mobile-rows{
  margin: 0 -15px;
  @include media-breakpoint-up(md){
    margin: 0;
  }
}
.mobile-cols{
  padding-left: 0 !important;
  padding-right: 0 !important;
  @include media-breakpoint-up(md){
    padding-left: inherit;
    padding-right: inherit;
  }
}
.exp-ugolok{
  display: block;
  position: relative;
  margin-top: 15px;
  height: 200px;
  //background: url("/images/exp__min.jpg") no-repeat;
  background-size: cover;
  text-align: center;
  span{
    font-size: 2.2rem;
    font-weight: 500;
    color: #000;
    position: absolute;
    left: 0;
    right: 0;
    top: 40%;
    background: rgba(255, 255, 255, 0.6392156862745098);
    margin: auto;
  }
}