<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/template_styles.css" />
    <title>
        {% block title %}

        {% endblock %}
    </title>
</head>
<body>
<div id="app"></div>
<div class="header">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-2">
                <a class="logo" href="{{ url_for('index') }}"></a>
            </div>
            <div class="col-md-8">
                <div class="h__title">
                    <h1>Росгвардия</h1>
                </div>
                <div class="h__descr">
                    Ну типа пробная CMS, что-то попытался
                </div>
            </div>
            <div class="col-md-2">
                 <input type="submit" class="vecdev-btn white-btn vecdev--showcb" value="Залогиниться" />
            </div>
        </div>
    </div>
</div>
<div class="main-menu">
    <div class="container">
         <ul>
            <li>
                <a href="{{ url_for('posts.index') }}">Новости</a>
            </li>
        </ul>
    </div>
</div>
<div class="content">
   {% block content %}

    {% endblock %}
</div>
<div class="vecdev-cb vecdev-cb--onshow">
    <div class="vecdev-cbform__bg vecdev-cb--onhide"></div>
    <div class="vecdev-cbform">
        <span class="vecdev-close vecdev-cb--onhide"></span>
        <div class="vecdev-cb__title">Заполните форму</div>
        <div class="form-group">
            <label for="cb-email">Введите Логин</label>
            <input type="email" class="vecdev-input" id="cb-email" placeholder="name@example.com">
        </div>
        <div class="form-group">
            <label for="cb-phone">Пароль</label>
            <input type="text" class="vecdev-input" id="cb-phone" placeholder="+7 (999) 999-99-99">
        </div>
        <div class="form-group text-center">
            <input class="vecdev-btn red-btn" type="submit" value="Вход" data-toggle="modal" data-target="#exampleModalCenter" onclick="sendMail()">
        </div>
    </div>
</div>
<script src="/static/js/jquery-3.4.1.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/myscripts.js"></script>
<script src="/static/js/vue.js"></script>
</body>
</html>
