{% extends "base.html" %}

{% block title %}
    Тестовые посты blueprint
{% endblock %}

{% block content %}

    <div class="container">

        {# выводим посты #}
        {% for post in posts %}
            <p>
                 <a href="{{ url_for('posts.post_detail', slug=post.slug) }}">
                     {{ post.title }}
                 </a>
            </p>
        {% endfor  %}

    </div>

{% endblock %}
